<h1 class="animated fadeIn">About</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas alias earum
  porro fuga est quo repudiandae eveniet recusandae provident sint! Eum
  provident facere dolorum in, delectus molestias cupiditate quod quos!
</p>
<p class="animated fadeIn">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam rem adipisci
  dicta distinctio aliquam reprehenderit ab, atque at quas. Illo eius pariatur
  ex quasi consequuntur corrupti earum doloribus sed temporibus.
</p>
<p class="animated fadeIn">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam rem adipisci
  dicta distinctio aliquam reprehenderit ab, atque at quas. Illo eius pariatur
  ex quasi consequuntur corrupti earum doloribus sed temporibus.
</p>
<p class="animated fadeIn">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam rem adipisci
  dicta distinctio aliquam reprehenderit ab, atque at quas. Illo eius pariatur
  ex quasi consequuntur corrupti earum doloribus sed temporibus.
</p>
