<div class="row d-flex justify-content-between pb-3 g-2">
  <div class="col-12 col-lg-8">
    <div class="d-flex justify-content-start align-items-center">
      <a *ngIf="!albumChild" class="navbar-brand">
        <img
          [src]="track.album.images | image"
          [alt]="track.album.name"
          width="70"
          height="70"
          class="d-inline-block"
        />
      </a>
      <div>
        {{ track.name }}
      </div>
    </div>
    <div class="d-flex flex-wrap">
      <span
        *ngIf="!albumChild"
        class="badge bg-danger m-1 cursor-pointer"
        (click)="goToAlbum(track.album.id)"
        >{{ track.album.name }}</span
      >
      <span
        *ngFor="let artist of track.artists"
        class="badge bg-primary m-1 cursor-pointer"
        (click)="goToArtist(artist.id)"
        >{{ artist.name }}</span
      >
    </div>
  </div>
  <div
    class="
      col-12 col-lg-4
      d-flex
      align-items-center
      justify-content-center justify-content-lg-end
    "
  >
    <audio controls>
      <source [src]="track.preview_url" />
    </audio>
  </div>
</div>
